<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="FPserver" value ="home-pc"/>
    <add key ="FPdatabase" value ="eTimeTrackv3"/>
    <add key ="FPSrvrPwd" value ="sa1234"/>    
    <add key="server" value="home-pc"/>
    <add key="db" value="newgms"/>
    <add key="uid" value="sa"/>
    <add key="pwd" value="sa1234"/>

    <add key="serverlog" value="home-pc"/>
    <add key="dblog" value="logDB"/>
    <add key="uidlog" value="sa"/>
    <add key="pwdlog" value="sa1234"/>

	<add key="PdfExeWithPath" value="C:\Program Files\Adobe\Reader 9.0\Reader\AcroRd32.exe"/>
	<add key="QuotationPdfDirectory" value="E:\QuotationPdfDirectory\"/>	  
  </appSettings>  
</configuration>